* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px red solid;
}

.row {
  /* clearfix solution */
  overflow: hidden;
  background-color: #EAEDF0;
}

.item-1 {
  float: left;
  height: 300px;
  width: 30%;
  background-color: #F09A9D;
}


.item-2 {
  float: left;
  height: 500px;
  width: 50%;
  background-color: #F5CF8E;
}

.item-3 {
  background-color: #D6E9FE;
  height: 600px;
}
